SCHOOL_CALENDAR_URL=
DASHBOARD_ACCESS_PASSWORD=
DASHBOARD_SESSION_SECRET=

VITE_OPENWEATHER_API_KEY=
VITE_DEFAULT_WEATHER_CITY=Frossasco

VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5173/
